.container{
    justify-content: center;
    padding:50px;
}

#immagine-i{
    width:auto;
    height:150px;
    background-color: dodgerblue;
    background-image:url(pattern.png);
    background-size:contain;
}
#logo{
   width:auto;
   height: 60px;
   margin-top:75px;
}
#table{
    margin:10px;
}
thead{
    background-color: blue;
}
tr{
 background-color: lightblue;
}
#white-row{
    background-color: white;
}

h1{
    font-size:50px;
}
.golden-decoration{
  background-color: yellow;
}
.footpaper-1{
    background-image:url(monitor.jpg);
    color:white;
    background-size:contain;
    height:200px;
    width:200px;
    margin-bottom:5px;

}
.footpaper-2{
    background-image:url(graph.jpg);
    color:white;
    background-size:contain;
    height:200px;
    width:200px;
    

}
h4{
    color: gray;
    padding:5px;
}

a{
    text-decoration:none;
}